/* Estilos del encabezado */
:root {
    --background: #424040;
    --regular-font-color: white;
    --title-font-family: atmospheric;
    --regular-font-family: "Chakra Petch", sans-serif;
    --titles: white;
    --subtitles: white;
    /* --logo-fm: */
    --min: 14px;
    --sm: 16px;
    --md: 18px;
    --lg: 20px;
    --xlg: 24px;
    --xxlg: 28px;
    --giant: 36px;
}
@font-face {
    font-family: atmospheric;
    src: url(./assets/fonts/atmospheric.ttf);
}
body {
    margin: 0;
    color: var(--regular-font);
    color: var(--regular-font-color);
    font-size: var(--md);
    width: 100%;
    font-family: var(--regular-font-family);
    font-weight: 400;
    font-style: normal;
    background-image: url(./assets/images/background3.webp);
    background-size: cover;
}
h1 {
    font-size: var(--giant);
    text-align: center;
}
h2 {
    font-size: var(--xlg);
    margin: 0;
    color: var(--subtitles);
    text-align: right;
}
h3 {
    text-align: center;
}
p {
    font-size: var(--lg)
}
header {
    display: flex;
    flex-direction: column;
}
.header-navbar {
    background-color: rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: space-between;
}
nav ul {
    list-style: none;
    padding: 10px 25px;
    margin: 5px 10px;
}
nav li a img {
    width: 35px;
    height: 35px;
}
.social-container {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 15px 35px;
}
.social-container a {
    text-decoration: none;
    margin-left: 20px;
}
.social-container a img {
    width: 35px;
    height: 35px;
}
.head {
    display: grid;
    grid-template-columns: 1fr;
    color: var(--titles);
    justify-content: space-between;
    border-top: 1px solid #353535;
}
.head__main-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}
#logo {
    margin: 0;
    font-family: var(--title-font-family);
    font-size: 60px;
    margin-bottom: 10px;
    color: var(--titles);
}
.head__main-logo div {
    border-top: 1px solid white;
}
.head__main-logo div p {
    margin: 15px;
    font-size: var(--xlg);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.main-container__bio {
    width: 60%;
    margin: 65px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 65px;
    background: rgb(255, 255, 255, 0.15);
    border-radius: 27px;
}
.main-container__bio figure img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
}
.main-container__bio div h3 {
    margin: 10px 0 0;
    font-size: var(--giant)
}
.main-container__bio div p {
    text-align: justify;
    text-justify: inter-word;
}
section {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.main-container__content{
    width: 60%;
    margin: 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 65px;
    background: rgb(255, 255, 255, 0.15);
    border-radius: 27px;
}
.main-container__content--title h1 {
    margin: 10px;
}
.main-container__content--title h2 {
    margin-bottom: 20px;
}
#fecha {
    margin: 0;
    font-size: var(--sm);
}
.contenido p {
    text-align: justify;
    text-justify: inter-word;
}
.contenido__more a {
    text-decoration: none;
    color: var(--regular-font-color);
}
.contenido__more a:hover {
    color: blueviolet;
}
/*@media (max-width: 1530px) {
    .main-container__bio {
        flex-direction: column;
    }
    .main-container__content {
        flex-direction: column;
    }
}*/
@media (max-width: 640px) {
   .header-navbar {
    display: none;
   }
   body {
    display: grid;
  } 
   html {
    box-sizing: border-box;
   }
   .main-container__bio {
        flex-direction: column;
    }
    .main-container__content {
        flex-direction: column;
    }
}